<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makro.mapper.DingTalkProcessStatusMapper">
	<insert id="addDingTalkProcessStatus" parameterType="com.makro.bean.DingTalkProcessStatus" useGeneratedKeys="true" keyProperty="id"> 
        insert into contract_price_status(uuid,processInstanceId,finishTime,eventType,businessId,title,processType,processResult,createTime,processCode,proFlag) 
        	values(#{uuid},#{processInstanceId},#{finishTime},#{eventType},#{businessId},#{title},#{processType},#{processResult},#{createTime},#{processCode},#{proFlag})
    </insert>
</mapper>